/* header */
header{
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-family: 'Hind Vadodara', sans-serif;;
}

ul li{
    margin: 0 20px;
}

header a{
    background-color: #1d61ff;
    color: white;
    padding: 5px 15px;
}