/* header */
header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-family: 'Hind Vadodara', sans-serif;
    z-index: 999999999;
}
header img{
    display: block;
}

header ul li{
    margin: 0px 20px;
    padding: 20px 0;
}

header a{
    text-decoration: none;
    color: #000000;
}

header nav ul li:hover{
    border-bottom: 1px solid black;
}

#bt-header{
    padding: 0 10px;
}

/* main - first section */
#sec-1{
    background-color: #b4d0e7;
    padding-top: 60px;
}

h1{
    margin-bottom: 30px;
}

#sec-1 p{
    margin-bottom: 20px;
    font-family: 'Hind Vadodara', sans-serif;
}

.bt-main{
    padding: 10px 30px;
}

#sec-1 a{
    margin-bottom: 20px;
    font-family: 'Hind Vadodara', sans-serif;
}

#sec-1 span{
    font-family: 'Hind Vadodara', sans-serif;
    margin-bottom: 20px;
}
#sec-1 a{
    text-decoration: none;
}

#sec-1 i{
    font-size: 40px;
    margin-bottom: 10px;
}

.fa-arrow-down{
    color: #000000;
}

#text-sec1{
    flex-basis: 30%;
}

#img-sec1{
    flex-basis: 60%;
}

.conteiner-sec1{
    top: 50px;
}

/* main - second section */
#sec-2{
    margin-top: 120px;
    font-family: 'Hind Vadodara', sans-serif;
}

.conteiner-plan{
    margin-top: 50px;
}

.card{
    flex-basis: calc(90% / 3);
}

.card-plan{
    text-align: center;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 13px;
    border: 1px solid lightgray;
    padding: 5px;
}

.card-plan>i{
    margin-right: 5px;
}

.info-plan{
    padding: 30px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
    font-size: 13px;
}

.info-plan h3{
    margin-bottom: 10px;
}

.info-plan h4{
    margin-bottom: 20px;
}

.info-plan span{
    color: grey;
    margin-bottom: 40px;
    font-size: 13px;
}

.info-plan ul li{
    margin-bottom: 10px;
}

.line-h13{
    line-height: 13px;
}

.info-plan .fa-user, .fa-folder, .fa-share-nodes, .fa-check, .info-plan .fa-users{
    margin-right: 10px;
    margin-bottom: 30px;
}

.info-plan .bt-blue{
    margin-bottom: 30px;
}

.info-plan hr{
    border: 1px solid lightgray;
    width: 30%;
    margin: 30px 0;
}

.fa-check{
    color: #1d61ff;
}

.last-card p{
    margin-top: 20px;
}

/* main - third section */
#sec-3{
    margin-top: 50px;
    font-family: 'Hind Vadodara', sans-serif;
}

.text-sec-3{
    padding: 40px;
}

.text-sec-3 span{
    margin: 20px 0;
}

/* main - fourth section */
#sec-4{
    margin-top: 100px;
    font-family: 'Hind Vadodara', sans-serif;
}

.task{
    flex-basis: calc(90% / 3);
    margin-top: 40px;
}

.task img{
    display: block;
}

.task span{
    font-size: 13px;
    margin-top: 20px;
}

/* main - fifth section */
#sec-5{
    margin: 130px 0;
    font-family: 'Hind Vadodara', sans-serif;
}

#clienti{
    margin-top: 40px;
}

/* main - sixth section */
.conteiner-loghi{
    height: 50vh;
    background-color: #f5f5f5;
}

.center-logo img{
    display: block;
}

.conteiner-loghi div{
    flex-basis: calc(100% / 3);
}

#designit{
    background-color: #a2d39b;
    border: 15px solid #d2e9cd;
}

#asu{
    background-color: #61082b;
}

#u-f{
    background-color: #0193ce;
}

#topps{
    background-color: #ff1c1c;
}

#world-br{
    background-color: #d5161f;
}

#hearts-corp{
    background-color: #b4d0e7;
}

#lonely-p{
    background-color: #0d2581;
}

#clear-ch{
    background-color: #fed830;
}

.logo-central{
    padding: 50px;
    overflow-y: auto;
}

.logo-central hr{
    width: 20%;
    border: 1px solid lightgrey;
}

.loghi-sx div, .loghi-dx div{
    flex-basis: calc(100% / 2);
    height: 50%;
}

.conteiner-under-loghi{
    background-color: #b4d0e7;
    height: 30vh;
    font-family: 'Hind Vadodara', sans-serif;
}

.conteiner-under-loghi h2{
    color: #600628;
}

#bt-sec6{
    text-decoration: none;
    color: #000000;
}

/* main - seventh section */
#sec-7{
    margin: 100px 0;
    font-family: 'Hind Vadodara', sans-serif;
}

#sec-7 h2{
    margin-bottom: 50px;
}

#sec-7 hr{
    border: 1px solid lightgray;
    margin: 30px 0;
}

.fa-chevron-down{
    margin-right: 20px;
}

.fa-chevron-up{
    display: none;
    margin-right: 20px;
}

.faq:hover .fa-chevron-down{
    display: none;
}

.faq:hover .fa-chevron-up{
    display: inline-block;
}

.faq-answer{
    display: none;
    font-size: 13px;
    margin-top: 20px;
}

.faq:hover .faq-answer{
    display: block;
}

/* footer */
footer{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #000000;
    color: white;
    font-family: 'Hind Vadodara', sans-serif;
}
.conteiner-footer{
    margin-bottom: 100px;
}

.conteiner-footer div{
    flex-basis: calc(90% / 5);
}

.conteiner-footer h3{
    margin: 20px 0;
}

.conteiner-footer li{
    margin: 10px 0;
    font-size: 13px;
}

footer hr{
    width: 10%;
    border: 0,5px solid white;
}

.language{
    margin-top: 30px;
    color: grey;
    font-size: 13px;
}

.language span{
    margin: 0 10px;
}